.nb-footer{
    background: #272727;
    margin-top: 60px;
    padding-bottom: 30px;
  }
  .nb-footer .footer-single{
    margin-top: 30px;
  }
  .nb-footer .footer-title{
      display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0;
  }
  .nb-footer .footer-single a{
      text-decoration: none;
  }
  
  .nb-footer .footer-single h2{
      color: #eee;
    font-size: 18px;
    font-weight: 200;
    display: inline-block;
    border-bottom: 2px solid #7BFF00;
    padding-bottom: 5px;
    margin-bottom: -2px;
  }
  .nb-footer .footer-single li{
    border-top: solid 1px #353535;
  }
  .nb-footer .footer-single li:first-child{
    border-top: none;
  }
  .nb-footer .footer-single li a{
    color: #979797;
    font-size: 12px;
    padding: 6px 0px;
    display: block;
    transition:all 0.4s ease-in-out;
  }
  .nb-footer .footer-single li a:hover{
    color: #7BFF00;
  }
  .nb-footer .footer-single li a:hover i{
    color: #7BFF00;
  }
  .nb-footer .dummy-logo {
      margin-top: 11px;
      padding-bottom: 9px;
  }
  .nb-footer .dummy-logo .icon {
      margin-right: 10px;
      border-radius: 20px;
      margin-top: 24px;
  }
  .nb-footer .brand {
      background: #7BFF00;
  }
  .nb-footer .dummy-logo i {
      font-size: 50px;
      color: #fff;
      padding: 5px;
  }
  .nb-footer .dummy-logo p {
      color: #999;
      font-size: 12px;
  }
  .nb-footer .dummy-logo h2 {
      font-size: 24px !important;
      border-bottom: none;
      color: #696969;
      padding: 5px 0;
  }
  .nb-footer .btn-footer{
    border: 1px solid #7BFF00;
    margin-top: 10px;
    color: #999;
  }
  .nb-footer .btn-footer:hover{
    background: #7BFF00;
    color: #fff;
    transition:all 0.4s ease-in-out;
  
  }
  .nb-footer .useful-links li a{
    text-transform: uppercase;
  }
  .nb-footer .footer-project a{
    font-size: 13px;
  }
  .nb-footer .footer-project img{
    margin-bottom: 20px;
    border: 1px solid #666;
    border-radius: 6px;
    padding: 1px;
    opacity: 0.7;
    transition:all 0.4s ease-in-out;
  }
  .nb-footer .footer-project img:hover{
    opacity: 1.0;
    cursor: pointer;
  }
  .nb-footer .footer-project .footer-title{
    margin-top: 0;
  }
  .nb-footer .footer-single p, .footer-single address{
      color: #979797;
    font-size: 14px;
    margin-top: 5px;
    line-height: 22px;
  }
  .nb-copyright{
    background: #171717;
    padding-bottom: 10px;
  }
   .nb-copyright .copyrt{
    margin-top: 22px;
    font-size: 14px;
  }
  .nb-copyright .copyrt a{
    color: #7BFF00;
  }
  .nb-copyright .footer-social{
      margin-top: 10px;
  }
  .nb-copyright .footer-social i{
    padding: 5px 10px;
    color: #999;
    border: 1px solid #333;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    transition:all 0.4s ease-in-out;
  }
  .nb-copyright .footer-social i:hover{
    background: #7BFF00;
    color: #fff;
  }
  .nb-copyright .footer-social .fa-facebook{
    padding: 5px 14px;
  }
  @media(max-width: 767px){
       .xs-center{
      text-align: center;
  }
   .left-clear{
      padding-left: 0;
  }
   .right-clear{
      padding-right: 0;
  }
  }


/* navbar css */
.form-control {
	box-shadow: none;
	border-radius: 4px;        
	border-color: #dfe3e8;
}
.navbar {
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #dfe3e8;
	border-radius: 0;
}
.navbar .navbar-brand {
	font-size: 25px;
	padding-left: 0;
	padding-right: 50px;
}
.navbar .navbar-brand b {
	color: #29c68c;		
}
.navbar a, .navbar a:active {
	color: #999;
	background: transparent;
}
.navbar .navbar-nav a:hover, .navbar .navbar-nav a:focus {
	color: #747915 !important;

}
.navbar .navbar-nav > a.active, .navbar .navbar-nav.show > a {
	color: #26bb84 !important;
	background: transparent !important;
}
.navbar .form-inline .input-group-text {
	box-shadow: none;
	border-radius: 2px 0 0 2px;
	background: #f5f5f5;
	border-color: #dfe3e8;
	font-size: 16px;
}
.navbar .form-inline i {
	font-size: 16px;
}
.navbar .form-inline .btn {
	border-radius: 2px;
	color: #fff;
	border-color: #29c68c;
	background: #29c68c;
	outline: none;
}
.navbar .form-inline .btn:hover, .navbar .form-inline .btn:focus {
	border-color: #26bb84;
	background: #26bb84;
}
.navbar .search-form {
	display: inline-block;
}
.navbar .search-form .btn {
	margin-left: 4px;
}
.navbar .search-form .form-control {
	border-radius: 2px;
}
.navbar .login-form .input-group {
	margin-right: 4px;
	float: left;
}
.navbar .login-form .form-control {
	max-width: 158px;
	border-radius: 0 2px 2px 0;
}    	
.navbar .navbar-right .dropdown-toggle::after {
	display: none;
}
.navbar .dropdown-menu {
	font-size: 14px;
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu a {
	padding: 6px 20px;
}
.navbar .login-dropdown .dropdown-menu {
	width: 505px;
	padding: 20px;
	left: auto;
	right: 0;        
}
.navbar .login-dropdown .dropdown-toggle::after {
	display: none;
}
@media (min-width: 1200px){
	.search-form .input-group {
		width: 300px;
		margin-left: 30px;
	}
}
@media (max-width: 768px){
	.navbar .dropdown-menu {
		width: 100%;
		background: transparent;
		padding: 10px 20px;
	}
	.navbar .input-group {
		width: 100%;
		margin-bottom: 15px;
	}
	.navbar .input-group .form-control {
		max-width: none;			
	}
	.navbar .login-form .btn {
		width: 100%;
	}
}
/* table css */
body {
    color: #566787;
    background: black;
    font-family: 'Roboto', sans-serif;
}
.table-responsive {
    margin: 30px 0;
}
.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
    min-width: 100%;
}
.table-title h2 {
    margin: 8px 0 0;
    font-size: 22px;
}
.search-box {
    position: relative;        
    float: right;
}
.search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;
}
.search-box input:focus {
    border-color: #3FBAE4;
}
.search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 10px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table td:last-child {
    width: 130px;
}
table.table td a {
    color: #a0a5b1;
    display: inline-block;
    margin: 0 5px;
}
table.table td a.view {
    color: #03A9F4;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}    
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 95%;
    width: 30px;
    height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 30px !important;
    text-align: center;
    padding: 0;
}
.pagination li a:hover {
    color: #666;
}	
.pagination li.active a {
    background: #03A9F4;
}
.pagination li.active a:hover {        
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 6px;
    font-size: 95%;
}    
/* first page css  */

* { box-sizing: border-box; margin: 0; padding: 0; }
html {  height: 100%; }
body {
  font: 18px 'Josefin Slab' Serif;
  background: rgba(238,244,248,1);
  height: 100%;
}

a {
    color: white;
  font-weight: bold;
    text-decoration: none;
  }
.container {
    width: 100%;
  height: 100%;
    max-width: 500px;
    margin: 0 auto;
/*     transform: perspective(5600px); */
  -webkit-perspective:5600px;
  perspective:5600px;
}

#carousel {
    width: 50%;
  height: 80%; display: block;
  left: 25%; bottom: 10%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
    transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
#carousel figure {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: opacity 1.5s, background-color 0.1s;
}
#carousel figure img {
    width: 90%;
  margin: 5%;
    height: auto;
    box-shadow: 0px 27px 62px 0px rgba(0,0,0,0.5);
  border-radius: 0.2em;
}


.little-text-block {
  width: 80%;
  background-color: rgb(87,123,234);
  margin: 0 auto;
  bottom: 30%;
  left: 10%;
  width: 80%;
  padding: 1em;
  text-align: center;
  font-weight: bold;
  position: absolute;
}
/* 
#carousel figure.main-panel {
  background-color: blue;
}
#carousel figure.background-panel {
  background-color: red;
}
#carousel figure.side-panel {
  background-color: green;
}

#carousel figure.background-panel, #carousel figure.side-panel { opacity: 0 !important; }
#carousel figure.background-panel { opacity: 0 !important; } */

h3 {
  padding: 1em;
  background-color: #3c3c3c;
}
.navigation-control {
  display: block;
  color: red;
  background-color: blue;
}