
/* navbar css */
.form-control {
	box-shadow: none;
	border-radius: 4px;        
	border-color: #dfe3e8;
}
.navbar {
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #dfe3e8;
	border-radius: 0;
}
.navbar .navbar-brand {
	font-size: 25px;
	padding-left: 0;
	padding-right: 50px;
}
.navbar .navbar-brand b {
	color: #29c68c;		
}
.navbar a, .navbar a:active {
	color: #999;
	background: transparent;
}
.navbar .navbar-nav a:hover, .navbar .navbar-nav a:focus {
	color: #747915 !important;

}
.navbar .navbar-nav > a.active, .navbar .navbar-nav.show > a {
	color: #26bb84 !important;
	background: transparent !important;
}
.navbar .form-inline .input-group-text {
	box-shadow: none;
	border-radius: 2px 0 0 2px;
	background: #f5f5f5;
	border-color: #dfe3e8;
	font-size: 16px;
}
.navbar .form-inline i {
	font-size: 16px;
}
.navbar .form-inline .btn {
	border-radius: 2px;
	color: #fff;
	border-color: #29c68c;
	background: #29c68c;
	outline: none;
}
.navbar .form-inline .btn:hover, .navbar .form-inline .btn:focus {
	border-color: #26bb84;
	background: #26bb84;
}
.navbar .search-form {
	display: inline-block;
}
.navbar .search-form .btn {
	margin-left: 4px;
}
.navbar .search-form .form-control {
	border-radius: 2px;
}
.navbar .login-form .input-group {
	margin-right: 4px;
	float: left;
}
.navbar .login-form .form-control {
	max-width: 158px;
	border-radius: 0 2px 2px 0;
}    	
.navbar .navbar-right .dropdown-toggle::after {
	display: none;
}
.navbar .dropdown-menu {
	font-size: 14px;
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu a {
	padding: 6px 20px;
}
.navbar .login-dropdown .dropdown-menu {
	width: 505px;
	padding: 20px;
	left: auto;
	right: 0;        
}
.navbar .login-dropdown .dropdown-toggle::after {
	display: none;
}
@media (min-width: 1200px){
	.search-form .input-group {
		width: 300px;
		margin-left: 30px;
	}
}
@media (max-width: 768px){
	.navbar .dropdown-menu {
		width: 100%;
		background: transparent;
		padding: 10px 20px;
	}
	.navbar .input-group {
		width: 100%;
		margin-bottom: 15px;
	}
	.navbar .input-group .form-control {
		max-width: none;			
	}
	.navbar .login-form .btn {
		width: 100%;
	}
}


/* footer css */
.nb-footer{
    background: #272727;
    margin-top: 60px;
    padding-bottom: 30px;
  }
  .nb-footer .footer-single{
    margin-top: 30px;
  }
  .nb-footer .footer-title{
      display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0;
  }
  .nb-footer .footer-single a{
      text-decoration: none;
  }
  
  .nb-footer .footer-single h2{
      color: #eee;
    font-size: 18px;
    font-weight: 200;
    display: inline-block;
    border-bottom: 2px solid #7BFF00;
    padding-bottom: 5px;
    margin-bottom: -2px;
  }
  .nb-footer .footer-single li{
    border-top: solid 1px #353535;
  }
  .nb-footer .footer-single li:first-child{
    border-top: none;
  }
  .nb-footer .footer-single li a{
    color: #979797;
    font-size: 12px;
    padding: 6px 0px;
    display: block;
    transition:all 0.4s ease-in-out;
  }
  .nb-footer .footer-single li a:hover{
    color: #7BFF00;
  }
  .nb-footer .footer-single li a:hover i{
    color: #7BFF00;
  }
  .nb-footer .dummy-logo {
      margin-top: 11px;
      padding-bottom: 9px;
  }
  .nb-footer .dummy-logo .icon {
      margin-right: 10px;
      border-radius: 20px;
      margin-top: 24px;
  }
  .nb-footer .brand {
      background: #7BFF00;
  }
  .nb-footer .dummy-logo i {
      font-size: 50px;
      color: #fff;
      padding: 5px;
  }
  .nb-footer .dummy-logo p {
      color: #999;
      font-size: 12px;
  }
  .nb-footer .dummy-logo h2 {
      font-size: 24px !important;
      border-bottom: none;
      color: #696969;
      padding: 5px 0;
  }
  .nb-footer .btn-footer{
    border: 1px solid #7BFF00;
    margin-top: 10px;
    color: #999;
  }
  .nb-footer .btn-footer:hover{
    background: #7BFF00;
    color: #fff;
    transition:all 0.4s ease-in-out;
  
  }
  .nb-footer .useful-links li a{
    text-transform: uppercase;
  }
  .nb-footer .footer-project a{
    font-size: 13px;
  }
  .nb-footer .footer-project img{
    margin-bottom: 20px;
    border: 1px solid #666;
    border-radius: 6px;
    padding: 1px;
    opacity: 0.7;
    transition:all 0.4s ease-in-out;
  }
  .nb-footer .footer-project img:hover{
    opacity: 1.0;
    cursor: pointer;
  }
  .nb-footer .footer-project .footer-title{
    margin-top: 0;
  }
  .nb-footer .footer-single p, .footer-single address{
      color: #979797;
    font-size: 14px;
    margin-top: 5px;
    line-height: 22px;
  }
  .nb-copyright{
    background: #171717;
    padding-bottom: 10px;
  }
   .nb-copyright .copyrt{
    margin-top: 22px;
    font-size: 14px;
  }
  .nb-copyright .copyrt a{
    color: #7BFF00;
  }
  .nb-copyright .footer-social{
      margin-top: 10px;
  }
  .nb-copyright .footer-social i{
    padding: 5px 10px;
    color: #999;
    border: 1px solid #333;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    transition:all 0.4s ease-in-out;
  }
  .nb-copyright .footer-social i:hover{
    background: #7BFF00;
    color: #fff;
  }
  .nb-copyright .footer-social .fa-facebook{
    padding: 5px 14px;
  }
  @media(max-width: 767px){
       .xs-center{
      text-align: center;
  }
   .left-clear{
      padding-left: 0;
  }
   .right-clear{
      padding-right: 0;
  }
  }


  /* page 3 */
  @import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.service-40 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}

.service-40 h1, .service-40 h2, .service-40 h3, .service-40 h4, .service-40 h5, .service-40 h6 {
  color: #3e4555;
}

.service-40 .bg-light {
    background-color: #f4f8fa !important;
}

.service-40 .badge {
	line-height: 14px;
}

.service-40 .badge-danger {
	background-color: #ff4d7e !important;
}

.service-40.wrap-feature40-box {
  background-position: left top, top right;
  background-repeat: no-repeat, no-repeat;
}

.service-40 .btn-info-gradiant {
		background: #188ef4;
    background: -webkit-linear-gradient(legacy-direction(to right), #188ef4 0%, #316ce8 100%);
    background: -webkit-gradient(linear, left top, right top, from(#188ef4), to(#316ce8));
    background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%);
    background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%);
    background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
}

.service-40 .btn-info-gradiant:hover {
		background: #316ce8;
    background: -webkit-linear-gradient(legacy-direction(to right), #316ce8 0%, #188ef4 100%);
    background: -webkit-gradient(linear, left top, right top, from(#316ce8), to(#188ef4));
    background: -webkit-linear-gradient(left, #316ce8 0%, #188ef4 100%);
    background: -o-linear-gradient(left, #316ce8 0%, #188ef4 100%);
    background: linear-gradient(to right, #316ce8 0%, #188ef4 100%);
}

.service-40 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}
/* second page css */
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.blog-home5 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}

.blog-home5 h1, .blog-home5 h2, .blog-home5 h3, .blog-home5 h4, .blog-home5 h5, .blog-home5 h6 {
  color: #3e4555;
}

.blog-home5 .card-title {
	font-size: 18px;
}

.blog-home5 .subtitle {
    color: #8d97ad;
    line-height: 24px;
}

.blog-home5 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.blog-home5 .b-h-box .card-img-overlay {
  bottom: 0px;
  top: auto;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  height: 55%;
}

.blog-home5 .b-h-box .card-title {
    color: #ffffff;
}

.blog-home5 .b-h-box {
	color: #ffffff;
}

.blog-home5 .b-h-box .card-text {
  display: none;
}

.blog-home5 .b-h-box:hover {
  color: #8d97ad;
}

.blog-home5 .b-h-box:hover .card-img-overlay {
  height: 100%;
  background: #ffffff;
  border: 3px solid rgba(120, 130, 140, 0.13);
}

.blog-home5 .b-h-box:hover .card-title {
  color: #263238;
  margin: 15px 0;
}

.blog-home5 .b-h-box:hover .card-text {
  display: block;
}

.blog-home5 .bg-danger-gradiant {
    background: #ff4d7e;
    background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
    background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
}

.blog-home5 .font-14 {
	font-size: 14px;
}

@media (max-width:768px) {
	.blog-home5 .b-h-box .card-img-overlay {
		height: 40%;
	}
}